.reviewer-info a {
    text-decoration: none;
}

.reviewer-info a:hover {
    text-decoration: underline;
}

.user-top-bg {
    position: sticky;
    background-image: url("http://www.tu.ac.th/uploads/_tu_img/home/domerangsit.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.user-top-bg::before {
    display: block;
    position: absolute;
    background: linear-gradient(to bottom, #ffffff00 40%, #ffffff 100%);
    content: '';
    width: 100%;
    height: 300px;
}


.config-con {
    margin-top: -70px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.2);
    border: .5px solid #ddd;
    border-radius: 10px;
}

.user-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 26px;
}

img.user-pic {
    width: 175px;
    height: 175px;
    object-fit: cover;
    float: left;
    margin: 40px 50px 40px 30px;
}

.user-head {
    font-size: 20px;
    font-weight: bold;
    color: darkred;
}

.user-txt-input {
    font-size: 16px;
    padding: 6px;
    border: none;
    border-bottom: 2px solid lightgray;
    margin: 6px 0;
    transition: .2s;
}

.user-txt-input:focus {
    outline: none;
    border-bottom: 2px solid dodgerblue;
}

.user-button {
    outline: none;
    font-size: 16px;
    color: white;
    padding: 10px 26px;
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 30px;
    transition: .3s;
}

.user-button:hover {
    color: dodgerblue;
    background-color: white;
}

.red-btn {
    background-color: red;
    border-color: red;
}

.red-btn:hover {
    color: red;
}

/* Review */
.review-container {
    padding: 20px 0;
    overflow: auto;
    display: -webkit-box;
}

.review-box {
    width: 350px;
    padding: 20px;
    margin: 0 16px 0 0;
    background-color: #f0f0f0;
    border-radius: 6px;
}

.review-title {
    font-weight: bold;
}

.reviewer-info {
    text-align: right;
    color: gray;
    float: right;
}

/* STORE */
a.store {
    display: inline-block;
    margin: 6px 6px 6px 0;
    padding: 12px 20px;
    border-radius: 300px;
    background-color: steelblue;
    text-decoration: none;
    color: white;
    transition: .2s;
}

a.store:hover {
    background-color: darkblue;
}

/* ----- Staff/Admin SECTION ----- */

a.special-link {
    display: inline-block;
    margin: 6px 6px 6px 0;
    padding: 12px 20px;
    border-radius: 300px;
    background-color: tomato;
    text-decoration: none;
    color: white;
    transition: .2s;
}

a.special-link:hover {
    background-color: darkred;
}