/* ---------- SEARCH BOX ---------- */

.move-down {
    margin-top: 100px;
    text-align: center;
}

input[type=text], select {
    width: 450px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 40px;
    box-sizing: border-box;
    font-size: 16px;
    font-style: italic;
}

#query {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

#query:hover {
    background-color: cornflowerblue;
}

#alert {
    background-color: red;
    border: none;
    color: white;
    padding: 12px 14px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

#alert:hover {
    background-color: crimson;
}

/* ---------- RESULTS ---------- */

.query-card {
    height: 175px;
    padding: 16px;
    box-shadow: 0 2px 16px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 20px;
}

.query-card:hover {
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.4);
}

.query-head {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #555555;
}

.query-img-box {
    margin-right: 15px;
    float: left;
}

.query-img {
    width: 300px;
    height: 175px;
    object-fit: cover;
}

.query-name-place {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.query-category {
    text-align: center;
    width: 110px;
    float: right;
    margin-top: 25px;
    font-weight: bold;
}

.query-category-img {
    width: 100px;
    margin-bottom: 10px;
}

/* ---------- OPERATION ---------- */
.operate-box {
    color: white;
    background-color: limegreen;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 5px;
}

.rating-star {
    color: white;
    background-color: orange;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 5px;
    bottom: 0;
}

.promotion {
    color: white;
    background-color: tomato;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 5px;
    bottom: 0;
}