/* ---------- SEARCH BOX ---------- */

.move-down {
    margin-top: 100px;
    text-align: center;
}

input[type=text], select {
    width: 450px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1.5px solid #bbb;
    border-radius: 40px;
    box-sizing: border-box;
    font-size: 16px;
}

#query {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

#query:hover {
    background-color: cornflowerblue;
}

#alert {
    width: 42px;
    background-color: red;
    border: none;
    color: white;
    padding: 12px 14px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}

#alert:hover {
    background-color: crimson;
}

/* ---------- RESULTS ---------- */

.query-card {
    height: 175px;
    padding: 16px;
    box-shadow: 0 2px 16px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 20px;
    position: relative;
}

.query-card:hover {
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.4);
}

.query-head {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #555555;
}

.query-img-box {
    margin-right: 15px;
    float: left;
}

.query-img {
    width: 300px;
    height: 175px;
    object-fit: cover;
}

.query-name-place {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.query-category {
    text-align: center;
    width: 110px;
    float: right;
    margin-top: 25px;
    font-weight: bold;
}

.query-category-img {
    width: 100px;
    margin-bottom: 10px;
}

/* ---------- RECENTLY SEARCH ---------- */
.recent-card-container {
    display: flex;
    justify-content: space-between;
}

.recent-card img {
    width: 270px;
    height: 160px;
    object-fit: cover;
}

.recent-card {
    position: relative;
    width: 270px;
    box-shadow: 0 2px 16px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.recent-card:hover {
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.4);
}

.recent-card:hover::after {
    background-color: rgba(0,0,0,0.8);
    background-image: none;
}

.recent-card::after {
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #000 100%);
    margin-top: -164px; /* move up */
    /* the same dimension of img */
    height: 162px;
    width: 270px;
    content: '';
    transition: .5s;
}

.recent-card-text {
    color: white;
    /* text-align: right; */
    display: block;
    position: absolute;
    bottom: 16px;
    left: 16px;
    z-index: 1;
    transition: .3s;
}

.recent-card-title {
    font-size: 18px;
    font-weight: bold;
}

.recent-card:hover .recent-card-text {
    top: 16px;
}